
<html>
<header>
  <div id="user-container">
    <div hidden id="user-pic"></div>
    <div hidden id="user-name"></div>
    <button hidden id="sign-out" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
      Sign-out
    </button>
    <button hidden id="sign-in" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
      <i class="material-icons">account_circle</i>Sign-in with Google
    </button>
  </div>
</header>

<!-- Handlebars.registerHelper('list', function(items, options) {
  var out = "<ul>";

  for(var i=0, l=items.length; i<l; i++) {
    out = out + "<li>" + options.fn(items[i]) + "</li>";
  }

  return out + "</ul>";
});
 -->
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

 <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script> -->

<!-- <script src="../libs/handlebars.min.js"></script> -->

	<!-- <p>Before list</p> -->
<!-- <script id="project-template" type="text/x-handlebars-template"> -->
	<!-- {{#list steps}} {{Date}} {{StepType}} {{Description}}  {{/list}} -->
<!-- </script> -->
	<!-- <p>After list</p> -->

<h2>Project plan:</h2>
<div class="content-placeholder"></div>
<hr>
<h2>Students</h2>
<div class="student-table-placeholder"></div>


<script src="/__/firebase/3.8.0/firebase.js"></script>
<script src="/__/firebase/init.js"></script>

<script src="../scripts/teacherView.js"></script>

</html>
